<h1>{{user.name}}'s Main Page</h1>
<img
  src='./images/image-from-rawpixel-id-3286099-jpeg.jpg'
  alt='picture of funny cat standing'
  width='500px'
/>
<a href='../private'>{{user.name}}'s Private Page</a>